<!-- This file exists for reference -->
<div class="container position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.png" style="background-color: white; border-radius: 50%;" alt="">
        <h1 class="sitename">Stage Corps</h1>
    </a>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active">Home</a></li>
            <li class="dropdown"><a href="#about"><span>About</span> <i
                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#services"><span>Services</span> <i
                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="light-design.html">Light Design</a></li>
                    <li><a href="scenic-design.html">Scenic Design</a></li>
                    <li><a href="labor.html">Labor</a></li>
                    <li><a href="rentals.html">Rentals</a></li>
                    <li><a href="sales.html">Sales</a></li>
                </ul>
            </li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="header-social-links">
        <a href="https://www.facebook.com/StageCorps" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/stagecorps/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/stage-corps-llc/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="tel:2145753750" class="phone"><i class="bi bi-telephone"></i></a>
    </div>

</div>