<!-- file is for reference -->
<div class="container">

    <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
                <a href="light-design.html" class="active">Light Design</a>
                <a href="scenic-design.html">Scenic Design</a>
                <a href="labor.html">Labor</a>
                <a href="rentals.html">Rentals</a>
                <a href="sales.html">Sales</a>
            </div>

            <h4>We offer a wide variety of services.</h4>
            <p>We are here to help you get the job done.</p>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="../assets/img/services.jpg" alt="" class="img-fluid services-img">
            <h3>Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>
            <p>
                Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque
                consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero.
                Qui
                omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
            </p>
            <ul>
                <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span>
                </li>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
            </ul>
            <p>
                Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste
                veniam repellat odit. Aut pariatur itaque nesciunt fuga.
            </p>
            <p>
                Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia
                doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus
                eveniet
                velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur
                nostrum.
                Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto
                ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
            </p>
        </div>

    </div>

</div>