<!-- This file exists for reference -->
<div class="container">

    <div class="row position-relative">

        <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="assets/img/about.jpg">
        </div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">About Us</h2>
            <div class="our-story">
                <h4>Est 2010</h4>
                <h3>Our Story</h3>
                <p>Stage Corps was founded in 2010 by Pavel Perebillo and Eric Gray in Richardson Texas. Our goal is to
                    create a memorable experience for our clients and their guests. We strive to give you the best in
                    the
                    business, from lights to support.</p>
                <a href="team.html" class="btn btn-secondary">Learn More</a>

            </div>

        </div>

    </div>

</div>